.reservation-summary-main {
  min-height: calc(100vh - 100px); /* Ajuste para header+footer */
  padding-bottom: 2rem; /* Espaço para o footer */
}

@media (max-width: 768px) {
  .reservation-summary-main {
    padding-bottom: rem; /* Espaço extra para o footer em telas pequenas */
  }
}

@media (max-width: 600px) {
  .reservation-summary-main {
    padding-bottom: 6rem; /* Espaço ainda maior para o footer em telas muito pequenas */
  }
}
